//fonts
@import url(https://fonts.googleapis.com/css?family=Dosis);

* {
  box-sizing: border-box;
  transition: all 1s ease;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

#hideMe {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  justify-content: center;
}

#hideMe.hidden,
.statusmain .button.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.ng-scope {
  min-width: 100%;
  background-color: black;
  justify-content: center;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: orange;
  width: 100%;

  .statusmain {
    width: 32%;
    text-align: center;
    background-color: black;
    margin: 5px;
    border: 5px solid red;
    font-family: 'Dosis';
    font-weight: bold;
    color: white;
    box-shadow : rgba(0,0,0,.2) 3px 5px 5px;

    .statuscontent {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      max-height: 500px;
    }

    .columns {
      flex: 0 0 50%;
      width: 250px;
      height: 200px;
      margin: 5px;
      background-color: cyan;
      border: 2px solid white;
      border-radius: 5px;
      color: black
    }
  }
}

.button {
  -moz-box-shadow: 0px 10px 14px -7px #36575c;
  -webkit-box-shadow: 0px 10px 14px -7px #36575c;
  box-shadow: 0px 10px 14px -7px #36575c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1babdb), color-stop(1, #60cddb));
  background:-moz-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background:-webkit-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background:-o-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background:-ms-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background:linear-gradient(to bottom, #1babdb 5%, #60cddb 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1babdb', endColorstr='#60cddb',GradientType=0);
  background-color:#1babdb;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:'Dosis';
  font-size:15px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0px 1px 0px #acd3e0;
  display: inline;
  margin: 3px;
}
.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #60cddb), color-stop(1, #1babdb));
  background:-moz-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background:-webkit-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background:-o-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background:-ms-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background:linear-gradient(to bottom, #60cddb 5%, #1babdb 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#60cddb', endColorstr='#1babdb',GradientType=0);
  background-color:#60cddb;
}
.button:active {
  position:relative;
  top:1px;
}

.sign-up {
  font-weight: bold;
  font-family: Helvetica;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid white;
  height: 35px;
  width: 115px;
  line-height: 35px;
  text-align: center;

  a {
    color: white;
  }
}

.arrowHolder {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

#leftButt {
  border-radius: 55%;
  width: 30px;
  height: 30px;
  justify-content: center;
  background:url('./../assets/blueLeftArrow.png') no-repeat;
  background-position: center;

}
#rightButt {
  width: 30px;
  height: 30px;
  border-radius: 55%;
  justify-content: center;
  background:url('./../assets/blueRightArrow.png') no-repeat;
  background-position: center;
}

.error {
  font-family: 'Dosis';
  font-weight: bold;
  color: red;
  margin: auto;
  width: 290px;
  background-color: orange;
}

.login {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.banner {
  width: 100%;
  text-align: center;
  background-image: url('./../assets/LargeBoardroom.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
}

.login-content {
  flex: 0 0 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 150px;
  margin-top: 250px;
}

.login-inputs {
  flex: 0 0 100%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.submit-login {
}

.submit-login-button {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  text-transform: uppercase;
  height: 45px;
  width: 120px;
  background-color: green;
}

.register {
  display: block;
  height: 50px;
}

#logout {
  display: flex;
  justify-content: flex-end;
}

#logoutButt {
  margin-right: 30px;
}