<div class="login">
  <form ng-submit="login(user)">
    <br>
    Username:<input class="user_title" value="{{user.username}}" ng-model="user.username">
    <br>
    Password:<input class="user_assignedTo" value="{{user.password}}" ng-model="user.password"type="password">
    <br><br>
    <input type="submit" value="Login" class="button">
  </form>
  <br>
  <div class="error">{{error}}</div>
</div>
<h4>Click Below to Register!</h4>
<span>
  <button class="button"><a href="/#/register">Register</a></button>
</span>