
<div class="login">
  <div class="banner">

    <div class="register">
      <div class="sign-up"><a href="/#/register">Sign Up Free</a></div>
    </div>

    <div class="login-content">
      <div class="login-inputs">
        <form ng-submit="login(user)">
          <br>
          Username: <input class="user_title" value="{{user.username}}" ng-model="user.username">
          Password: <input class="user_assignedTo" value="{{user.password}}" ng-model="user.password"type="password">
          <br><br>
          <div class="submit-login">
            <input type="submit" value="Login" class="submit-login-button">
          </div>
        </form>
        <div class="error">{{error}}</div>
      </div>
    </div>

  </div>
</div>