@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  box-sizing: border-box;
  transition: all 0.2s ease; }

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  width: 100%; }

#hideMe {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  justify-content: center; }

#hideMe.hidden,
.statusmain .button.hidden {
  display: none; }

a {
  text-decoration: none;
  color: black; }

.header {
  position: absolute;
  background: transparent;
  height: 100px; }

.footer {
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: aqua; }

.logo-container {
  float: left;
  width: 100%; }

.logo {
  width: 75px;
  height: 75px;
  margin-left: 30px;
  margin-top: 15px;
  background: transparent;
  border: 2px solid black;
  border-radius: 100px;
  display: inline-block;
  font-weight: bold; }

.triangle {
  margin-left: -27px;
  height: 0;
  width: 0; }

.logo-triangle-bottom-left {
  width: 70px;
  height: 0;
  border-bottom: 15px solid black;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  margin-left: 27px;
  margin-top: -33px;
  opacity: 0.3; }

.logo-triangle-top-right {
  width: 10px;
  height: 10px;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 15px solid black;
  margin-left: 68px;
  margin-top: -30px; }

.logo-triangle-top-right-opacity {
  width: 10px;
  height: 10px;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 15px solid black;
  margin-left: 74px;
  margin-top: -30px;
  opacity: 0.3; }

.logo-letters {
  font-size: 20px;
  color: red; }

.down {
  margin-left: 17px; }

.across {
  margin-top: -46px;
  margin-left: 2px;
  letter-spacing: 5px; }

.ng-scope {
  min-width: 100%;
  justify-content: center; }

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: orange;
  width: 100%; }
  .cards .statusmain {
    width: 32%;
    text-align: center;
    background-color: black;
    margin: 5px;
    border: 5px solid red;
    font-family: 'Dosis';
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px; }
    .cards .statusmain .statuscontent {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      max-height: 500px; }
    .cards .statusmain .columns {
      flex: 0 0 50%;
      width: 250px;
      height: 200px;
      margin: 5px;
      background-color: cyan;
      border: 2px solid white;
      border-radius: 5px;
      color: black; }

.button {
  -moz-box-shadow: 0px 10px 14px -7px #36575c;
  -webkit-box-shadow: 0px 10px 14px -7px #36575c;
  box-shadow: 0px 10px 14px -7px #36575c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1babdb), color-stop(1, #60cddb));
  background: -moz-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background: -webkit-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background: -o-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background: -ms-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background: linear-gradient(to bottom, #1babdb 5%, #60cddb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1babdb', endColorstr='#60cddb',GradientType=0);
  background-color: #1babdb;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: 'Dosis';
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #acd3e0;
  display: inline;
  margin: 3px; }

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #60cddb), color-stop(1, #1babdb));
  background: -moz-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background: -webkit-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background: -o-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background: -ms-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background: linear-gradient(to bottom, #60cddb 5%, #1babdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60cddb', endColorstr='#1babdb',GradientType=0);
  background-color: #60cddb; }

.button:active {
  position: relative;
  top: 1px; }

.sign-up {
  font-weight: bold;
  font-family: Helvetica;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid red;
  height: 35px;
  width: 115px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
  float: right; }
  .sign-up a {
    color: red; }

.sign-up:hover {
  background-color: red; }
  .sign-up:hover a {
    color: black;
    opacity: 0.5; }

.arrowHolder {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }

#leftButt {
  border-radius: 55%;
  width: 30px;
  height: 30px;
  justify-content: center;
  background: url("./../assets/blueLeftArrow.png") no-repeat;
  background-position: center; }

#rightButt {
  width: 30px;
  height: 30px;
  border-radius: 55%;
  justify-content: center;
  background: url("./../assets/blueRightArrow.png") no-repeat;
  background-position: center; }

.error {
  font-family: 'Dosis';
  font-weight: bold;
  color: red;
  margin: auto;
  width: 290px;
  background-color: orange; }

.login {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.banner {
  width: 100%;
  text-align: center;
  background-image: url("./../assets/LargeBoardroom.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px; }

.secondary-banner {
  height: 150px;
  width: 100%;
  background-color: aqua;
  opacity: 0.5;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px; }

.welcome {
  margin-top: -100px;
  height: 50px;
  font-family: 'Raleway';
  color: white;
  opacity: 0.7;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .welcome h1 {
    font-size: 55px; }
  .welcome h4 {
    color: red;
    margin-top: -25px;
    font-weight: 900; }

.login-content {
  flex: 0 0 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 150px;
  margin-top: 250px;
  margin-bottom: 150px; }

.login-inputs {
  flex: 0 0 100%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 25px;
  color: red;
  margin-top: -115px;
  margin-bottom: 50px; }

.user_assignedTo,
.user_title {
  width: 200px;
  margin-right: 5px; }

.submit-login-button {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  text-transform: uppercase;
  height: 45px;
  width: 120px;
  background-color: red;
  letter-spacing: 2px; }

.register-landing {
  display: block;
  height: 50px;
  float: right;
  margin-right: 30px;
  margin-top: 30px; }

#logout {
  display: flex;
  justify-content: flex-end; }

#logoutButt {
  margin-right: 30px; }

.divider {
  width: 100%;
  border-bottom: 1px solid lightgray;
  margin-top: 105px; }

.content {
  font-family: 'Raleway'; }

.header-message {
  margin: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid lightgray; }

.register {
  height: 500px; }

.register-content {
  margin-left: 100px;
  height: 350px;
  width: 350px; }
  .register-content span {
    margin-right: 106px; }
  .register-content input {
    height: 30px;
    margin-top: 5px;
    width: 350px;
    opacity: 0.5; }
  .register-content .user_priority {
    margin-right: 20px;
    width: 162.5px; }
  .register-content .user_createdBy {
    width: 163px; }
  .register-content .register_submit {
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 14px;
    text-transform: uppercase;
    height: 45px;
    width: 350px;
    background-color: green;
    opacity: 1;
    letter-spacing: 1px; }
