* {
  box-sizing: border-box;
  transition: all 1s ease; }

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .cards .statusmain {
    display: inline-block;
    width: 250px; }
    .cards .statusmain .columns {
      width: 200px;
      height: 200px;
      background-color: cyan; }
