@import url(https://fonts.googleapis.com/css?family=Dosis);
* {
  box-sizing: border-box;
  transition: all 0.5s ease; }

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

#hideMe {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  justify-content: center; }

#hideMe.hidden,
.statusmain .button.hidden {
  display: none; }

a {
  text-decoration: none;
  color: black; }

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .cards .statusmain {
    width: 475px;
    text-align: center;
    background-color: black;
    margin: 1px;
    border: 5px solid red;
    font-family: 'Dosis';
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px; }
    .cards .statusmain .statuscontent {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      max-height: 500px; }
    .cards .statusmain .columns {
      flex: 0 0 50%;
      width: 250px;
      height: 200px;
      margin: 5px;
      background-color: cyan;
      border: 2px solid white;
      border-radius: 5px;
      color: black; }

.button {
  -moz-box-shadow: 0px 10px 14px -7px #36575c;
  -webkit-box-shadow: 0px 10px 14px -7px #36575c;
  box-shadow: 0px 10px 14px -7px #36575c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1babdb), color-stop(1, #60cddb));
  background: -moz-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background: -webkit-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background: -o-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background: -ms-linear-gradient(top, #1babdb 5%, #60cddb 100%);
  background: linear-gradient(to bottom, #1babdb 5%, #60cddb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1babdb', endColorstr='#60cddb',GradientType=0);
  background-color: #1babdb;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: 'Dosis';
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #acd3e0;
  display: inline;
  margin: 3px; }

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #60cddb), color-stop(1, #1babdb));
  background: -moz-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background: -webkit-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background: -o-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background: -ms-linear-gradient(top, #60cddb 5%, #1babdb 100%);
  background: linear-gradient(to bottom, #60cddb 5%, #1babdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60cddb', endColorstr='#1babdb',GradientType=0);
  background-color: #60cddb; }

.button:active {
  position: relative;
  top: 1px; }

.arrowHolder {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }

#leftButt {
  border-radius: 55%;
  width: 50px;
  height: 50px;
  justify-content: center;
  background: url("./../assets/blueLeftArrow.png") no-repeat; }

#rightButt {
  width: 50px;
  height: 50px;
  border-radius: 55%;
  justify-content: center;
  background: url("./../assets/blueRightArrow.png") no-repeat; }

.error {
  font-family: 'Dosis';
  font-weight: bold;
  color: red; }
